.application--wrap {
	min-height: fit-content !important;
}

.cert-cover {
	padding: 20px;

	.cert {
		width: 100%;
		height: fit-content;
		position: relative;

		> img.bg {
			width: 100%;
			height: auto;
		}

		> .content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&.cert1 .content {
			padding: 0 200px 0 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			@media screen and (max-width: 600px){
				padding: 0 50px;
			}

			> div {
				width: 100%;
				font-size: 30px;

				@media screen and (max-width: 992px){
					font-size: 20px;
				}

				@media screen and (max-width: 600px){
					font-size: 10px;
				}

				h5 {
					font-size: .8em;
				}

				h6 {
					font: {
						size: .6em;
						weight: normal;
					}
					color: #555;
				}

				h2 {
					font: {
						size: 2em;
						weight: 900;
					}
					margin: 40px 0;
					text-transform: uppercase;

					@media screen and (max-width: 600px){
						margin: 10px 0px;
						font-size: 1.3rem;
					}
				}

				h4 {
					font-size: 1em;
					margin: 20px 0;

					@media screen and (max-width: 600px){
						margin: 5px 0px;
					}
				}
			}
		}

		&.cert2 .content {
			padding: 0 100px 0 250px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			@media screen and (max-width: 768px){
				padding: 0 50px 0 150px;
			}

			@media screen and (max-width: 600px){
				padding: 0 50px 0 75px;
			}

			> div {
				width: 100%;
				font-size: 30px;

				@media screen and (max-width: 992px){
					font-size: 20px;
				}

				@media screen and (max-width: 600px){
					font-size: 10px;
				}

				h5 {
					font-size: .8em;
				}

				h6 {
					font: {
						size: .6em;
						weight: normal;
					}
					color: #555;
				}

				h2 {
					font: {
						size: 2em;
						weight: 900;
					}
					margin: 40px 0;
					text-transform: uppercase;

					@media screen and (max-width: 600px){
						margin: 10px 0px;
						font-size: 1.3rem;
					}
				}

				h4 {
					font-size: 1em;
					margin: 20px 0;

					@media screen and (max-width: 600px){
						margin: 5px 0px;
					}
				}
			}
		}

		&.cert3 .content {
			padding: 0 130px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			@media screen and (max-width: 600px){
				padding: 0 50px;
			}

			> div {
				width: 100%;
				font-size: 30px;
				text-align: center;

				@media screen and (max-width: 992px){
					font-size: 20px;
				}

				@media screen and (max-width: 600px){
					font-size: 10px;
				}

				h5 {
					font-size: .8em;
				}

				h6 {
					font: {
						size: .6em;
						weight: normal;
					}
					color: #555;
				}

				h2 {
					font: {
						size: 2em;
						weight: 900;
					}
					margin: 40px 0;
					text-transform: uppercase;

					@media screen and (max-width: 1024px){
						margin: 15px 0;
					}

					@media screen and (max-width: 600px){
						margin: 5px 0px;
						font-size: 1.3rem;
					}
				}

				h4 {
					font-size: 1em;
					margin: 20px 0;

					@media screen and (max-width: 1024px){
						margin: 10px 0px;
					}

					@media screen and (max-width: 600px){
						margin: 3px 0px;
					}
				}
			}
		}
	}	
}

.loader {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 1000000100;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: #fff;

	&.active {
		display: flex;
	}

	.loader-content {
		width: 100%;
		text-align: center;

		img {
			height: 200px;
			margin-top: -100px;
		}
	}
}

.error-container {
	height: 100vh;
	width: 100vw;
	background-color: #fff;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	.bg {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 70%;
		z-index: 10;
		background-image: url('https://res.cloudinary.com/lukman/image/upload/v1533998020/avatar.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		opacity: .5;
	}

	.content {
		z-index: 10;
		width: 100%;
		padding: 40px;

		h1 {
			font-size: 80px;
			color: #84af6e;
			text-transform: uppercase;
		}

		h2 {
			font: {
				weight: 300;
				size: 32px;
			}
		}
		
		p {
			cursor: pointer;
			margin: 0;
			margin-top: 20px;
			width: fit-content;
			color: #77aa92;

			i {
				line-height: 26px;
				font-size: 26px;
				display: inline;
			}

			span {
				@extend i;
			}
		}
	}
}
